body{
    font-family: 'Open Sans', sans-serif;
}



/*navigation*/
.topbar{margin:0;width:100%;height:40px;background-color:#9ac34d;color:#FFF;position:fixed;top:0;z-index:9999}.topbar-left{line-height:40px;float:left;width:40%}.topbar-right{line-height:40px;float:right;width:60%;text-align:right}.topbar-right a{color:#FFF;padding:0 10px}.topbar-right a:hover,.topbar-right a:focus{color:#353535}nav.navbar{border-radius:0;background:#fff none repeat scroll 0 0;width:100%;z-index:9998;position:fixed;top:40px;box-shadow:0 0px 10px rgba(0,0,0,0.5)}.navbar{margin-bottom:0}.navbar-brand{padding:25px 15px}.navbar-brand svg{height:42px}.current-menu-item a{color:#9AC34D}.navbar-nav>li>a{color:#808080;font-size:18px;padding:40px 17px 35px 25px !important;border-radius:0;font-weight:300}.navbar-nav>li>a:hover{background:none;color:#9AC34D}.navbar-nav li:last-child a{padding-right:0 !important}.navbar-brand{height:auto}.navbar-right{position:relative}.navbar-nav>li>a:hover{background:none !important}.navbar-right:after{position:absolute;top:100%;border-bottom:10px;background:none;height:10px;width:100%;z-index:999;left:0;right:0}ul.custom-megamenu-row{width:100%;float:left}.custom-menu-widget-area div{width:50%;float:left}.custom-menu-widget-area .SubdropdownWrapper .textwidget{width:100%;float:left}.navbar-nav li.current_page_item a span{color:#9ac34d}.nav-pills li.active a,.nav-pills li.active a:hover,.nav-pills li.active a:focus{background:none}.caseWrap.nav>li>a{padding:0}.nav>li>a>img{max-width:100% !important}.navbar-nav > li{z-index:1000}.navigation .title{display:none}.navigation{text-align:left}.navigation a{color:#808080}.dropdownWrapper.widget_nav_menu{background:#fff none repeat scroll 0 0;border-top:4px solid #9ac34d;min-width:100px;padding:15px;position:absolute;right:-25px;top:84px;display:none}.dropdownWrapper a{font-size:14px}.dropdownWrapper a:hover{color:#9ac34d}.dropdownWrapper > img{padding:5px}.dropdownWrapper li:first-child a{padding:5px !important}.dropdownWrapper > ul{float:right}.dropdownWrapper a{color:#FFF;display:block;min-width:175px;padding:5px}.custom-megamenu-wrapper .custom-menu-title{display:none}.dropdownWrapper{background:#4d4d4d none repeat scroll 0 0;border-top:5px solid #9ac34d;padding:15px;position:absolute;right:-50px;top:91px;display:none}.hasChild:hover .dropdownWrapper{display:block}.hasChild:hover::before{border-bottom:10px solid #9ac34d;border-left:10px solid transparent;border-right:10px solid transparent;content:"";left:42%;position:absolute;right:0;top:85px;width:10px}.custom-megamenu-row{position:relative}@media screen and (max-width: 1399px){.navbar-brand{padding:30px 15px}.navbar-brand svg{height:30px}.navbar-nav>li>a{padding:40px 17px 35px !important}.navbar-brand{width:100%}.navbar-brand > img{display:block;margin:auto;text-align:center;width:250px;margin-top:0px}.navbar-brand{width:90%}.navbar-nav > li > a{padding-right:15px !important;font-size:13px}}@media screen and (max-width: 1199px){.topbar{font-size:12px}.dropdownWrapper{top:69px;width:150px}.hasChild:hover::before{top:61px}.dropdownWrapper li:first-child a{font-size:12px}.navbar-brand{padding:20px 15px}.navbar-nav>li>a{padding:20px 10px 20px !important;line-height:30px}}@media screen and (max-width: 992px){.navbar-header{width:100%;float:left;text-align:center}.navbar-brand{float:none}.navbar-wrap{float:left;width:100%;text-align:center}.navbar-right{display:inline-block;float:none !important;height:65px;margin:auto}.navbar-header{width:100%;float:left;text-align:center}.navbar-brand{float:none}.navbar-wrap{float:left;width:100%;text-align:center}.navbar-right{display:inline-block;float:none !important;height:65px;margin:auto;text-align:center}.navbar-collapse{text-align:center}.navbar-nav > li > a{padding:19px 10px !important}.navbar-nav li:first-child a{padding-left:20px}.nav > li > a:hover,.nav > li > a:focus{background-color:transparent;text-decoration:none}.navbar-nav li:last-child a{padding-right:20px;color:#9ac34d;}.navbar-brand{padding:25px 15px 10px}.dropdownWrapper > img{display:none}.hasChild:hover::before{display:none}.dropdownWrapper{background:rgba(255, 255, 255, 0.1) none repeat scroll 0 0;border-top:0 none;display:none;min-width:100%;padding:0;position:relative;right:0;top:auto}.hasChild:hover .dropdownWrapper{display:none}.dropdownWrapper ul{float:none}}@media screen and (min-width: 768px) and (max-width: 992px){.navbar-nav li:hover .dropdownWrapper{display:block;min-width:100px}.dropdownWrapper{position:absolute;right:-40%;top:75px;min-width:300px;background:#fff}.navbar-right::after{width:100%;max-width:660px}}@media screen and (min-width: 768px){.navbar-right{margin-right:0 !important}}@media screen and (max-width: 767px){.navbar-brand{padding:20px 15px;text-align:left}.navbar-nav>li>a{padding:15px 10px 15px !important;line-height:30px}.navbar .navbar-wrap{overflow:visible;width:240px;right:-240px;top:0;padding-top:47px}.navbar-right::after{background:transparent}.navbar-nav > li{border-bottom:solid 1px #EEE}.navbar-wrap{background:#fff;position:fixed;right:-300px;width:300px;height:100%;overflow:visible;box-shadow:3px 3px 12px 6px #c5c5c5}.navbar-toggle{background:#9ac34d}.navbar-toggle .icon-bar{background:#fff}.navbar-toggle{margin:17px 0}.navbar-right{height:auto !important;width:100%}}@media screen and (max-width: 480px){.navbar-brand{padding:17px 0 0 6px}.navbar-brand svg{height:30px;margin-top:3px}.container .navbar-wrap{top:0px}.navbar-header{min-height:50px}.navbar-wrap{top:90px}}




.home-hero .container {
    background: url(../images/ha-home-banner-2017.jpg) top right no-repeat;
    background-size: contain;
    height: 100%;
}
.all-sizes {
    padding: 30px 0;
}
.hosting-table h2 {
    font-size: 40px;
    color: #383b40;
    margin-bottom: 50px !important;
}
.ht-ind-header h3 {
    color: #FFF !important;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ht-ind-body h3 {
    font-size: 60px;
    color: #383b40 !important;
    font-weight: 400;
    margin-top: 10px;
}
.ht-ind-body h4 {
    text-align: left;
    color: #383b40 !important;
    font-weight: 700 !important;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
	.domain-new-hero {
	    margin-top: 200px;
	}
}
.ht-ind-header h3 {
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 10px;
}
.testimonial {
    background: url(../images/testimonial.jpg) top center no-repeat;
    height: 695px;
    background-size: cover;
}

.ssl-hero {
    background: url(../images/sslBanner.jpg) center center no-repeat;
    width: 100%;
    height: 460px;
    padding-top: 120px;
    background-size: cover;
}
.ssl-points {
    padding: 75px 0;
}

.ssl-certs img{
    height: auto !important;
    width: 100% !important;
}

.page-section h2, .page-section h3, .page-section h4 {
    font-weight: 300;
    color: grey;
    line-height: 1.5em;
    margin-bottom: 20px;
}
@media screen and (max-width: 1399px){
	.ssl-points h3 {
	    font-size: 20px;
	    margin-bottom: 10px;
	}
}

.domain-new-hero {
    background: url(../images/domain-img.jpg) top center no-repeat;
    background-size: cover;
    height: 450px;
    padding-top: 100px;
    margin-top: 138px;
}
.domain-header h1 {
    max-width: 100% !important;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: Raleway;
}
.domain-override{
    width: 100% !important;
    padding:0!important;
}
.domain-override-wrap{
    padding:0!important;
}
.add-more-holder{
    display: none !important;
}
.domain-input{
    width: 100%!important;
    line-height: 84px;
    height: 84px;
    font-size: 23px;
    letter-spacing: .1em;
    color: #FFF;
    padding: 0 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid rgba(255,255,255,.75);
    margin-right: -8px;
    border-right: none;
}
.domain-promo {
    height: auto;
    margin: -75px auto auto;
}
.dom-pricing {
    background: #f4f4f4; 
}


.grey-bg {
    background: #f4f4f4;
}
.dom-pricing {
    z-index: 20;
}

.grey-bg {
    background: #f4f4f4;
}
.page-section {
    padding: 50px 0;
}

.reviews-hero {
    background: url(../images/reviews-hero.jpg) center center no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 80px;
    background-size: cover;
    margin-top:144px;
}

    .sort-ratings{
        background-color:#333;
        color:#FFF;
        height: 50px;
        line-height: 50px;
    }
    .filter-sort ul{
        font-size: 12px;
    }
    .filter-sort ul li{
        display: inline-block;
        margin-right: 15px;
    }
    .filter-sort a{
        color:#FFF;
    }
    .filter-sort a:hover{
        color:#DDD;
    }
    .filter-by{
        text-align:right;
        font-size:12px;
    }
    .filter-by a{
        color:#FFF;
    }
    @media screen and (max-width: 992px) {
        .sort-ratings {
            height: 100px;
        }
        .filter-by{
            text-align:left;
        }
    }
    @media screen and (max-width: 767px) {
        .sort-ratings{
            line-height: 33px;
        }
        .filter-ratings{
            padding-left: 20px;
        }
    }

    .contact-hero-new {
        background: url(../images/contactus-bg.jpg) center center no-repeat;
        width: 100%;
        height: 350px;
        padding-top: 80px;
        background-size: cover;
        margin-top: 144px;
    }
    .contact-hero-new h1 {
        color: #FFF;
        font-weight: 200;
        text-align: center;
        margin-bottom: 50px;
    }
    .contact-us-map {
        background: url(../images/contact-us-map.jpg) center center no-repeat;
        height: 423px;
        background-size: cover;
    }

    .video-mt {
        margin-top: 140px;
    }
    .about-features h3 {
        color: #9ac34d!important;
    }

.experts-box {
    background: url(../images/domains-experts-img.jpg) center center no-repeat;
    background-size: cover;
}
.mailUs:before {
    background: url(../images/msg.png) no-repeat;
    top: 4px;
}
.call-us:before {
    background: url(../images/call.png) no-repeat;
}
@media only screen and (max-width:768px){
    .domain-new-hero{
        margin-top: 100px !important;

    }
}
@media screen and (max-width: 1399px)
.spec-notes p, .topbar {
    font-size: 12px;
}