@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e12c2f;
    min-width: 299px;
    right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

a.navbar-brand img {
    height: auto;
    max-height: 50px;
    max-width: 100%;
    width: auto;
}
.navbar-default{
    background: transparent;
    border: 0;
}
.navbar-default .navbar-header > a {
	color: #ecf0f1 ; 
}
nav.navbar.navbar-default.tembus {
    position: absolute;
    z-index: 500;
    width: 100%;
}
ul.nav.navbar-nav.navbar-right {
    padding-top: 20px;
}
/* .navbar-default .navbar-nav > li > a{
	color:#ecf0f1 ;
} */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #ecf0f1;
	background-color: transparent;
}
ul.nav.navbar-nav.navbar-right li a{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgba(255,255,255,.9);
}

.tembus{
	background-color: transparent !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:white !important;
    background-color: transparent;
}
#promotedGalleryWrapper .color-overlay, .promoted-gallery-wrapper .color-overlay, .banner-thu-wrapper .color-overlay, .sqs-featured-posts-gallery .color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 99;
}
#thu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: feature-bg-anim .6s ease-in-out;
    animation: feature-bg-anim .6s ease-in-out;
}
.banner-thu-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 320px;
    width: 100%;
}
.desc-wrapper {
    -webkit-animation: feature-text-anim .75s ease-in-out;
    animation: feature-text-anim .75s ease-in-out;
    z-index: 100;
    position: relative;
    width: 100%;
    max-width: 956px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 66px auto;
    padding: 32px;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.desc-wrapper p {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.5em;
    color: #fff;
    margin: 20px auto;
    -webkit-transform: translatez(0);
}
.desc-wrapper p>strong, .desc-wrapper p>em>strong {
    display: block;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    font-size: 68px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1em;
    color: #fff;
}
.desc-wrapper p:last-child>a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #e12c2f;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    margin: 10px 0;
    color: #fff;
    border: none;
    -webkit-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -moz-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -ms-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -o-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.desc-wrapper p a {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.heading h1{
    /* padding: 100px 0; */
    margin-bottom: 100px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 38px;
    color: rgba(26, 26, 26, 0.9);
}
.main-page{

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1020px;
    padding: 96px 32px;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
.main-img img{
    width: 100%;
}
.block-cont {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128,128,128,0);
    transition: box-shadow .2s ease-in-out;
}
.block-cont h2 {
    color: #e12c2f;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-top: 16px;
    margin-bottom: 16px;
}
.block-cont strong{
    font-family: adobe-garamond-pro;
    font-size: 18px;
    font-weight: 700;
    color: rgba(26, 26, 26, 0.7);
    font-style: normal;
    line-height: 29px;
}
.block-cont p {
    font-family: adobe-garamond-pro;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0;
    font-size: 18px;
    line-height: 29px;
    color: rgba(26, 26, 26, 0.7);
}
.block-cont h5{
    color: #e12c2f;
    font-family: adobe-garamond-pro;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0;
    font-size: 18px;
    line-height: 29px;
}
hr.cus-hr {
    clear: both;
    border-style: none;
    border-width: 0;
    margin: 64px auto;
    color: rgba(26,26,26,.15);
    background-color: rgba(26,26,26,.15);
    border: none;
    /* color: #bbb; */
    /* background-color: #bbb; */
    height: 1px;
}
.our-guest h1{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 38px;
    color: rgba(26, 26, 26, 0.9);
    margin-top: 18px;
}
.our-guest p{
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 29px;
    color: rgba(26, 26, 26, 0.7);
    font-family: adobe-garamond-pro;
    margin-top: 12px;
}
.our-guest h5{
    font-family: adobe-garamond-pro;
    color: #e12c2f;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 12px;
}
.our-guest img{
    width: 100% !important;
}
.video h1{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 38px;
    color: rgba(26, 26, 26, 0.9);
    text-align: center;
}
.video p{
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 29px;
    color: rgba(26, 26, 26, 0.7);
    font-family: adobe-garamond-pro;
    margin-bottom: 50px;
}
.video form label{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(26, 26, 26, 0.7);
    font-family: adobe-garamond-pro;
}
.mini-footer{
    text-align: center;
    padding: 40px 0;
    background-color: #333;
}
.mini-footer i {
    color: #333;
    font-size: 22px;
    background-color: #fff;
    /* padding: 28px; */
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center !important;
    /* margin-bottom: 10px; */
    padding: 14px 28px 28px 14px;
}
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
}
footer a:hover{
    color: rgba(255,255,255,.4);
    text-decoration: none;
}

footer p a{
    color: rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: adobe-garamond-pro;
}
    

.palermo{
    padding: 100px 0;
}
.left-side h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #e12c2f;
    font-family: adobe-garamond-pro;
    margin-bottom: 10px;
}
.left-side h3 {
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #1a1a1a;
    font-family: proxima-nova;
}
.left-side h4 {
    line-height: 26px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #c9c6c6;
    font-family: proxima-nova;
    margin-top: 10px;
}

.right-side h1 {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.2em;
}
.pal-l h1 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 400;
    font-style: normal;
    color: rgba(26, 26, 26, 0.9);
    margin-bottom: 20px;
}
.pal-l p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: rgba(197, 197, 197, 0.9);
}
.italic {
    font-style: italic;
    line-height: 29px;
    font-size: 18px;
    color: rgba(136, 136, 136, 0.9);
}
.pal-r span{
    font-size: 80px;
    color: rgba(197, 197, 197, 0.9);
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.pal-r h1{
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    color: rgba(26, 26, 26, 0.9);
    margin-bottom: 20px;
    text-align: center;
}
.pal-r h4{
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    color: rgba(197, 197, 197, 0.9);
    margin-bottom: 20px;
    text-align: center;
}
.pal-content p{
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: rgba(136, 136, 136, 0.9);
}
@media only screen and (max-width: 1440px){
    
}
@media only screen and (max-width: 1024px){
    .our-guest h1{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 768px){
    .main-page h1{
        font-size: 25px;
    }
}
@media only screen and (max-width: 425px){
    .desc-wrapper p{
        font-size: 18px;
    }
    .desc-wrapper p strong{
        font-size: 28px;
    }
}